/* .logosContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 50px;
    margin-bottom: 70px;
}

button.signInLogo {
    border-radius: 70px;
    border: 1px solid #E3E7EB;
    width: 100%;
    background-color: #FFFFFF;
    height: 50px;
}

aside {
    background: url('../../assets/background.png');
    background-size: cover;
    background-position: center;
    width: 47%;
    height: 100vh;
}

main {
    width: 45%;
    padding: 30px 70px 80px 70px;
    margin: 0 auto;
    height: 90vh;
}

main .appLogoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.container {
    display: flex;
    max-width: 100vw;
    max-height: 100vh;
}

main h1 {
    font-size: 24px;
    margin-bottom: 30px;
}

main form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

main form, .signinButton{
    font-size: 16px;
}

main form input, .signinButton, .resetButton {
    height: 48px;
    width: 100%;
}

main form input {
    border-radius: 10px;
    border: 2px solid #E3E7EB;
    padding-left: 15px;
    margin-top: 6px;
}

.signinButton, .resetButton {
    border-radius: 24px;
    border: 1px solid #E3E7EB;
    background-color: #4A21EF;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
}

.resetButton {
    margin-top: 24px;
}

main p {
    font-size: 14px;
}

main form img {
    position: relative;
    bottom: 35px;
    left: 450px;
}

p:nth-of-type(1) {
    text-align: right;
    margin-bottom: 30px;
}

p:nth-of-type(2), p.signUpWith{
    margin-top: 50px;
    margin-bottom: 30px;
    color: #97A5B2;
}

p.signUpWith {
    text-align: center;
}

a {
    text-decoration: none;
}

a:visited {
    color: #141D24;
}

p {
    text-align: center;
    font-weight: 400;
}

p:nth-of-type(3) span {
    color: #4A21EF;
}

p.enteringEmail {
    font-weight: 400;
    color: #5E6F7D;
    text-align: left;
    padding: 0;
    margin: 0;
    width: 80%;
    padding: 16px 0 24px 0;
}

div.top {
    display: flex;
    justify-content: flex-start;
    gap: 160px;
    align-items: center;
    margin-bottom: 80px;
    height: 100px;
    position: relative;
    right: 40px;
}

.createAccountHeading {
    margin-bottom: 40px;
}

p.createAccountFooter {
    text-align: center;
    color: #141D24;
    font-weight: 400;
    width: 60%;
    margin: 0 auto;
    line-height: 24px;
    font-size: 14px;
}

p.createAccountFooter a {
    text-decoration: underline;
}

.bottom {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 480px) {
    body {
      max-width: 100vw;
    }
    .signinContainer {
      height: 100vh;
      overflow-x: hidden;
    }
    main h1{
        margin-top: 20px;
        font-size: 20px;
    }
    main {
      width: 100%;
      padding: 0 30px;
    }
    aside {
      display: none;
    }
    main .appLogoContainer {
      padding: 20px;
      height: 80px;
      margin-bottom: 0;
    }
    main .logosContainer {
      flex-direction: column;
      height: 180px;
    }
    main form img {
      position: relative;
      left: 310px;
      bottom: 35px;
    }
  }
  
 */
