.destinations-hero{
    margin: 0 auto;
    background-image: url('../../../assets/destinations/Destinations.gif');
    height: 660px;
    width: 95%;
    background-size: cover;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-color: black;
}