.topHeader {
  background-color: #f5f7fa;
  padding: 10px 70px;
  height: 48px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.topHeader a {
  color: #141d24;
}

.topHeader nav {
  width: 30%;
}

.topHeader nav ul li button {
  font-size: 14px;
}

.topHeader nav ul li button:active {
  background-color: black;
  color: white;
}

a.active {
  color: #4a21ef;
}

.topHeader button {
  display: flex;
  border: none;
  background-color: transparent;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.topHeader nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 34px;
}

.bottomHeader {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
}

.bottomHeader div:nth-of-type(1) {
  display: flex;
  gap: 25px;
}

.bottomHeader div:nth-of-type(2) {
  display: flex;
  gap: 15px;
}

.bottomHeader button {
  font-weight: bold;
  cursor: pointer;
}

.bottomHeader .rightButtons button {
  border-radius: 24px;
  height: 45px;
  padding: 12px 24px;
  font-size: 16px;
}

.bottomHeader .rightButtons button a {
  color: #4a21ef;
}

.bottomHeader .leftButtons a {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.bottomHeader .rightButtons button:nth-of-type(1) {
  background-color: #4a21ef;
  color: #ffffff;
  border: none;
}

.bottomHeader .rightButtons button:nth-of-type(2) {
  background-color: #ffffff;
  color: #4a21ef;
  border: 1px solid #4a21ef;
}
