.localexperts-section h1 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 36px;
}

.localexperts-section {
    height: 70vh;
    overflow: hidden;
}

.localexperts-section .container {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.first-image {
    height: 400px;
}

.second-image {
    padding-top: 50px;
    position: relative;
    right: 80px;
    height: 400px;
}

.leftDialog {
    position: relative;
    right: 120px;
    bottom: 290px;
}

.rightDialog {
    position: relative;
    left: 400px;
    bottom: 130px;
}

.leftDialog p, .rightDialog p {
    position: relative;
    bottom: 90px;
    left: 24px;
    font-weight: 600;
    color: #141D24;
    width: 35%;
    text-align: left;
}

.rightDialog p {
    bottom: 70px;
    left: 32px;
}
