.contact-hero {
    background: url("../../../assets/contact/contact-hero.png");
    background-size: contain;
    width: 94%;
    height: 60vh;
    margin: 0 auto;
    border-radius: 20px;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 150px;
}

.contact-hero h1 {
    font-size: 48px;
    color: #fff;
    font-weight: 600;
}

.contact-hero p {
    text-align: center;
    color: #fff;
    font-weight: 600;
    margin-top: 14px;
}