.footer {
    background-color: #F5F7FA;
    display: grid;
    grid-template-columns: 3fr 4fr;
    padding: 70px 150px 70px 200px;
    .footer-left {
        display: grid;
        grid-template-rows: 1fr 2fr 1fr;
        justify-content: start;
        gap: 14px;
        p:nth-of-type(1) {
            font-size: 14px;
            text-align: left;
            margin: 0;
        }
        p:nth-of-type(2) {
            font-size: 12px;
            text-align: left;
            margin: 0;
        }
    }
    .footer-right {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }
    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 8px;
        li {
            font-weight: 400;
            font-size: 14px;
        }
    }
    h5 {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    p {
        color: #3A4D5A;
        font-weight: 400;
    }
}
